@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:white; background-color:#49396E;">
    <h1 class="display-4">Dobro došli na moju stranicu o serijama</h1>
    <p>Napravljeno uz pomoć C# i Visual Studio</p>
    <img src="/slike/WatchingTv.jpg" alt="slika za pocetnu stranicu">
</div>
